In [1]:
import pandas as pd
import numpy as np
from pyathena import connect
from pyathena.cursor import Cursor
from datetime import datetime, timedelta
import math

In [ ]:
# set connection

conn = connect(# add credentioals as needed
    )

In [132]:
# integrate and merge files

In [2]:
import os
print(os.getcwd())

/Users/joseovalle/Downloads

In [3]:
folder_path = '/Users/joseovalle/Downloads/dfs'
files = [f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]

print("Files in folder:", files)

Files in folder: ['df_2_3_20240715_20240811.csv', 'df_1_1_20240617_20240714.csv', 'df_2_2_20241202_20241229.csv', 'df_1_1_20240129_20240225.csv', 'df_3_4_20241007_20241103.csv', 'df_3_1_20241202_20241229.csv', 'df_3_3_20250127_20250223.csv', 'df_3_4_20240617_20240714.csv', 'df_3_3_20240812_20240908.csv', 'df_1_1_20241007_20241103.csv', 'df_1_4_20241202_20241229.csv', 'df_3_4_20240129_20240225.csv', 'df_3_2_20250324_20250420.csv', 'df_1_3_20240325_20240421.csv', 'df_0_1_20241104_20241201.csv', 'df_2_6_20240226_20240324.csv', 'df_2_6_20240909_20241006.csv', 'df_1_2_20241104_20241201.csv', 'df_1_3_20250224_20250323.csv', 'df_2_1_20250324_20250420.csv', 'df_3_3_20240101_20240128.csv', 'df_3_4_20241230_20250126.csv', 'df_2_5_20240520_20240616.csv', 'df_2_5_20240325_20240421.csv', 'df_2_3_20240422_20240519.csv', 'df_4_1_20240226_20240324.csv', 'df_4_1_20240909_20241006.csv', 'df_2_5_20250224_20250323.csv', 'df_3_3_20250421_20250518.csv', 'df_2_4_20241104_20241201.csv', 'df_1_1_20241230_20250126.csv', 'df_1_3_20240520_20240616.csv', 'df_3_1_20250127_20250223.csv', 'df_2_2_20240812_20240908.csv', 'df_3_1_20240812_20240908.csv', 'df_2_5_20240617_20240714.csv', 'df_2_2_20250127_20250223.csv', 'df_2_5_20240129_20240225.csv', 'df_1_3_20241007_20241103.csv', '.DS_Store', 'df_1_4_20240812_20240908.csv', 'df_3_2_20240715_20240811.csv', 'df_1_4_20250127_20250223.csv', 'df_1_3_20240617_20240714.csv', 'df_2_1_20240715_20240811.csv', 'df_2_5_20241007_20241103.csv', 'df_1_3_20240129_20240225.csv', 'df_3_3_20241202_20241229.csv', 'df_3_2_20240422_20240519.csv', 'df_0_1_20240226_20240324.csv', 'df_0_1_20240909_20241006.csv', 'df_2_2_20250421_20250518.csv', 'df_3_4_20250224_20250323.csv', 'df_3_4_20240325_20240421.csv', 'df_1_2_20240226_20240324.csv', 'df_1_2_20240909_20241006.csv', 'df_3_1_20250421_20250518.csv', 'df_2_6_20241104_20241201.csv', 'df_2_1_20240422_20240519.csv', 'df_1_3_20241230_20250126.csv', 'df_1_4_20240101_20240128.csv', 'df_1_1_20240520_20240616.csv', 'df_1_1_20240325_20240421.csv', 'df_1_4_20250421_20250518.csv', 'df_4_1_20241104_20241201.csv', 'df_2_3_20250324_20250420.csv', 'df_1_1_20250224_20250323.csv', 'df_2_4_20240226_20240324.csv', 'df_2_4_20240909_20241006.csv', 'df_3_1_20240101_20240128.csv', 'df_2_5_20241230_20250126.csv', 'df_3_4_20240520_20240616.csv', 'df_2_2_20240101_20240128.csv', 'df_2_5_20250324_20250420.csv', 'df_1_1_20240422_20240519.csv', 'df_0_1_20250421_20250518.csv', 'df_2_2_20240226_20240324.csv', 'df_2_2_20240909_20241006.csv', 'df_1_2_20250421_20250518.csv', 'df_3_1_20240226_20240324.csv', 'df_3_1_20240909_20241006.csv', 'df_2_1_20240520_20240616.csv', 'df_2_4_20240101_20240128.csv', 'df_2_3_20241230_20250126.csv', 'df_3_2_20240520_20240616.csv', 'df_2_1_20250224_20250323.csv', 'df_3_2_20240325_20240421.csv', 'df_1_4_20240226_20240324.csv', 'df_1_4_20240909_20241006.csv', 'df_1_3_20250324_20250420.csv', 'df_3_4_20240422_20240519.csv', 'df_3_2_20250224_20250323.csv', 'df_3_3_20241104_20241201.csv', 'df_2_4_20250421_20250518.csv', 'df_2_1_20240325_20240421.csv', 'df_1_2_20240101_20240128.csv', 'df_0_1_20240101_20240128.csv', 'df_1_2_20250127_20250223.csv', 'df_0_1_20240812_20240908.csv', 'df_3_4_20240715_20240811.csv', 'df_1_2_20240812_20240908.csv', 'df_0_1_20250127_20250223.csv', 'df_2_3_20241007_20241103.csv', 'df_2_6_20241202_20241229.csv', 'df_1_1_20240715_20240811.csv', 'df_2_4_20250127_20250223.csv', 'df_2_3_20240617_20240714.csv', 'df_2_4_20240812_20240908.csv', 'df_2_3_20240129_20240225.csv', 'df_4_1_20241202_20241229.csv', 'df_1_1_20250324_20250420.csv', 'df_2_5_20240422_20240519.csv', 'df_2_2_20241104_20241201.csv', 'df_2_3_20250224_20250323.csv', 'df_3_1_20241104_20241201.csv', 'df_2_3_20240325_20240421.csv', 'df_2_6_20250421_20250518.csv', 'df_4_1_20240101_20240128.csv', 'df_1_4_20241104_20241201.csv', 'df_1_3_20240422_20240519.csv', 'df_3_4_20250324_20250420.csv', 'df_4_1_20250421_20250518.csv', 'df_3_3_20240226_20240324.csv', 'df_3_3_20240909_20241006.csv', 'df_2_6_20240101_20240128.csv', 'df_3_2_20241230_20250126.csv', 'df_2_3_20240520_20240616.csv', 'df_2_1_20241230_20250126.csv', 'df_2_1_20240617_20240714.csv', 'df_2_6_20250127_20250223.csv', 'df_1_3_20240715_20240811.csv', 'df_2_6_20240812_20240908.csv', 'df_3_2_20240617_20240714.csv', 'df_0_1_20241202_20241229.csv', 'df_3_2_20240129_20240225.csv', 'df_1_2_20241202_20241229.csv', 'df_2_1_20240129_20240225.csv', 'df_2_5_20240715_20240811.csv', 'df_4_1_20250127_20250223.csv', 'df_4_1_20240812_20240908.csv', 'df_3_2_20241007_20241103.csv', 'df_2_4_20241202_20241229.csv', 'df_2_1_20241007_20241103.csv', 'df_3_2_20240101_20240128.csv', 'df_2_6_20241230_20250126.csv', 'df_2_1_20240101_20240128.csv', 'df_2_4_20240520_20240616.csv', 'df_3_3_20250324_20250420.csv', 'df_0_1_20250224_20250323.csv', 'df_3_4_20240226_20240324.csv', 'df_1_2_20240325_20240421.csv', 'df_3_4_20240909_20241006.csv', 'df_1_2_20250224_20250323.csv', 'df_1_3_20241104_20241201.csv', 'df_0_1_20240325_20240421.csv', 'df_1_4_20240422_20240519.csv', 'df_4_1_20241230_20250126.csv', 'df_0_1_20240520_20240616.csv', 'df_1_2_20240520_20240616.csv', 'df_2_1_20250421_20250518.csv', 'df_2_4_20240325_20240421.csv', 'df_3_1_20240422_20240519.csv', 'df_2_2_20240422_20240519.csv', 'df_2_5_20241104_20241201.csv', 'df_3_2_20250421_20250518.csv', 'df_1_1_20240226_20240324.csv', 'df_1_1_20240909_20241006.csv', 'df_2_4_20250224_20250323.csv', 'df_2_3_20241202_20241229.csv', 'df_4_1_20240129_20240225.csv', 'df_2_6_20241007_20241103.csv', 'df_3_1_20240715_20240811.csv', 'df_2_2_20240715_20240811.csv', 'df_4_1_20240617_20240714.csv', 'df_4_1_20241007_20241103.csv', 'df_2_6_20240129_20240225.csv', 'df_2_1_20240812_20240908.csv', 'df_3_2_20250127_20250223.csv', 'df_2_6_20240617_20240714.csv', 'df_2_1_20250127_20250223.csv', 'df_1_4_20240715_20240811.csv', 'df_3_2_20240812_20240908.csv', 'df_1_2_20241230_20250126.csv', 'df_4_1_20240520_20240616.csv', 'df_0_1_20241230_20250126.csv', 'df_3_3_20240422_20240519.csv', 'df_3_4_20241104_20241201.csv', 'df_2_6_20240325_20240421.csv', 'df_2_3_20250421_20250518.csv', 'df_2_6_20250224_20250323.csv', 'df_1_3_20240226_20240324.csv', 'df_1_3_20240909_20241006.csv', 'df_1_4_20250324_20250420.csv', 'df_2_4_20241230_20250126.csv', 'df_2_6_20240520_20240616.csv', 'df_2_3_20240101_20240128.csv', 'df_4_1_20240325_20240421.csv', 'df_3_1_20250324_20250420.csv', 'df_2_2_20250324_20250420.csv', 'df_4_1_20250224_20250323.csv', 'df_1_1_20241104_20241201.csv', 'df_2_5_20240226_20240324.csv', 'df_2_5_20240909_20241006.csv', 'df_2_4_20240129_20240225.csv', 'df_1_2_20241007_20241103.csv', 'df_0_1_20241007_20241103.csv', 'df_2_3_20240812_20240908.csv', 'df_2_3_20250127_20250223.csv', 'df_2_4_20240617_20240714.csv', 'df_2_4_20241007_20241103.csv', 'df_2_1_20241202_20241229.csv', 'df_1_2_20240129_20240225.csv', 'df_3_2_20241202_20241229.csv', 'df_0_1_20240129_20240225.csv', 'df_3_3_20240715_20240811.csv', 'df_0_1_20240617_20240714.csv', 'df_1_2_20240617_20240714.csv', 'df_3_4_20241202_20241229.csv', 'df_3_1_20241007_20241103.csv', 'df_2_2_20241007_20241103.csv', 'df_1_4_20240129_20240225.csv', 'df_1_3_20250127_20250223.csv', 'df_1_4_20240617_20240714.csv', 'df_2_6_20240715_20240811.csv', 'df_1_3_20240812_20240908.csv', 'df_3_1_20240129_20240225.csv', 'df_1_1_20241202_20241229.csv', 'df_2_2_20240129_20240225.csv', 'df_1_4_20241007_20241103.csv', 'df_2_2_20240617_20240714.csv', 'df_4_1_20240715_20240811.csv', 'df_2_5_20250127_20250223.csv', 'df_3_1_20240617_20240714.csv', 'df_2_5_20240812_20240908.csv', 'df_2_5_20240101_20240128.csv', 'df_3_1_20241230_20250126.csv', 'df_2_2_20241230_20250126.csv', 'df_3_3_20240520_20240616.csv', 'df_2_4_20250324_20250420.csv', 'df_4_1_20240422_20240519.csv', 'df_2_3_20240226_20240324.csv', 'df_2_3_20240909_20241006.csv', 'df_1_3_20250421_20250518.csv', 'df_1_3_20240101_20240128.csv', 'df_1_4_20241230_20250126.csv', 'df_3_3_20240325_20240421.csv', 'df_2_1_20241104_20241201.csv', 'df_1_2_20250324_20250420.csv', 'df_2_6_20240422_20240519.csv', 'df_0_1_20250324_20250420.csv', 'df_2_5_20250421_20250518.csv', 'df_3_2_20241104_20241201.csv', 'df_3_3_20250224_20250323.csv', 'df_3_3_20240129_20240225.csv', 'df_1_3_20241202_20241229.csv', 'df_3_4_20240812_20240908.csv', 'df_1_2_20240715_20240811.csv', 'df_0_1_20240715_20240811.csv', 'df_3_4_20250127_20250223.csv', 'df_3_3_20240617_20240714.csv', 'df_3_3_20241007_20241103.csv', 'df_2_5_20241202_20241229.csv', 'df_2_4_20240715_20240811.csv', 'df_1_1_20250127_20250223.csv', 'df_1_1_20240812_20240908.csv', 'df_1_4_20240520_20240616.csv', 'df_1_1_20240101_20240128.csv', 'df_2_4_20240422_20240519.csv', 'df_2_2_20250224_20250323.csv', 'df_3_1_20240325_20240421.csv', 'df_4_1_20250324_20250420.csv', 'df_3_4_20250421_20250518.csv', 'df_2_3_20241104_20241201.csv', 'df_3_1_20250224_20250323.csv', 'df_2_2_20240325_20240421.csv', 'df_3_3_20241230_20250126.csv', 'df_2_2_20240520_20240616.csv', 'df_3_1_20240520_20240616.csv', 'df_3_4_20240101_20240128.csv', 'df_2_1_20240226_20240324.csv', 'df_2_1_20240909_20241006.csv', 'df_1_4_20250224_20250323.csv', 'df_2_6_20250324_20250420.csv', 'df_1_2_20240422_20240519.csv', 'df_0_1_20240422_20240519.csv', 'df_3_2_20240226_20240324.csv', 'df_1_4_20240325_20240421.csv', 'df_3_2_20240909_20241006.csv', 'df_1_1_20250421_20250518.csv']

In [4]:
new_path = '/Users/joseovalle/Downloads/dfs'
os.chdir(new_path)
print(os.getcwd())

/Users/joseovalle/Downloads/dfs

In [5]:
dictionary_dfs = {}
for file in files:
    df = pd.read_csv(file,encoding='latin1')
    dictionary_dfs[file] = df


oxxo_dfs = pd.concat(dictionary_dfs.values(), ignore_index= True)
columns_to_replace = ['nombre_supergrupo','nombre_supercategoria','marca','marca_proveedor']
oxxo_dfs[columns_to_replace] = oxxo_dfs[columns_to_replace].replace({'All': 'Todas'})

/var/folders/rl/fg4zs7t924s2t0ppwnsvmkwh0000gn/T/ipykernel_86836/3053879099.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  oxxo_dfs = pd.concat(dictionary_dfs.values(), ignore_index= True)

In [6]:
oxxo_dfs.head()

,nombre_supergrupo,nombre_supercategoria,marca,marca_proveedor,week,tickets,venta_tmt,articulos,ticket_promedio,Unnamed: 0
0,Botanas,Todos,Todos,Barcel,2024-07-22,1783315.0,7.027072e+07,2014652.0,39.404548,NaN
1,Hielo,Todos,Todos,Art,2024-08-05,44905.0,1.730700e+06,44952.0,38.541364,NaN
2,Pan Tost Y Tortillas,Todos,Todos,Ramon Santos,2024-07-15,49327.0,1.656967e+06,49483.0,33.591473,NaN
3,Fast Food Alimentos,Todos,Todos,Danone,2024-07-15,344278.0,7.560548e+06,433453.0,21.960590,NaN
4,Mercancias Generales,Todos,Todos,Sin Marca Proveedor Asignada,2024-07-22,22477.0,9.289703e+05,22550.0,41.329818,NaN

In [ ]:
# oxxo_dfs.drop(columns = ['Unnamed: 0'], inplace = True)

In [8]:
oxxo_dfs.head()

,nombre_supergrupo,nombre_supercategoria,marca,marca_proveedor,week,tickets,venta_tmt,articulos,ticket_promedio
0,Botanas,Todos,Todos,Barcel,2024-07-22,1783315.0,7.027072e+07,2014652.0,39.404548
1,Hielo,Todos,Todos,Art,2024-08-05,44905.0,1.730700e+06,44952.0,38.541364
2,Pan Tost Y Tortillas,Todos,Todos,Ramon Santos,2024-07-15,49327.0,1.656967e+06,49483.0,33.591473
3,Fast Food Alimentos,Todos,Todos,Danone,2024-07-15,344278.0,7.560548e+06,433453.0,21.960590
4,Mercancias Generales,Todos,Todos,Sin Marca Proveedor Asignada,2024-07-22,22477.0,9.289703e+05,22550.0,41.329818

In [9]:
oxxo_dfs.to_csv('/Users/joseovalle/Downloads/merged_tickets_df.csv')

In [10]:
len(oxxo_dfs)

2770997

In [11]:
oxxo_dfs['week'] = pd.to_datetime(oxxo_dfs['week'])
oxxo_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770997 entries, 0 to 2770996
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   nombre_supergrupo      object
 1   nombre_supercategoria  object
 2   marca                  object
 3   marca_proveedor        object
 4   week                   datetime64[ns]
 5   tickets                float64
 6   venta_tmt              float64
 7   articulos              float64
 8   ticket_promedio        float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 190.3+ MB

In [141]:
# oxxo_dfs.drop(columns = ['Unnamed: 0'], inplace = True)

In [142]:
oxxo_dfs.head()

,nombre_supergrupo,nombre_supercategoria,marca,marca_proveedor,week,tickets,venta_tmt,articulos,ticket_promedio,Unnamed: 0
0,Cerveza,Todos,Todos,Cerveceria Cuautemoc Moctezuma,2024-07-22,4511558.0,4.149111e+08,4919235.0,91.966264,NaN
1,Fast Food Bebidas,Todos,Todos,Burrisabor,2024-08-05,1986.0,1.417095e+05,2105.0,71.354239,NaN
2,Higiene Hogar,Todos,Todos,Alen del Norte,2024-07-22,436567.0,1.069469e+07,512691.0,24.497243,NaN
3,Fast Food Alimentos,Todos,Todos,Nissin,2024-08-05,319137.0,9.881409e+06,368232.0,30.962906,NaN
4,Vinos Y Licores,Todos,Todos,PEDRO DOMECQ,2024-08-05,78082.0,3.168081e+06,78435.0,40.573774,NaN

In [143]:
oxxo_dfs.loc[(oxxo_dfs['nombre_supergrupo'] == 'Todos') &(oxxo_dfs['nombre_supercategoria'] == 'Todos') &(oxxo_dfs['marca'] == 'Todos') &(oxxo_dfs['marca_proveedor'] == 'Todos') ].to_csv('/Users/joseovalle/Downloads/overall_tickets.csv')